body{
    background-image: url("../assets/images/clean.jpg");
}

#tippy{
    text-align:center;
    color: #C57AB6;
    font-family: 'Poiret One', cursive;
    font-size: 80px;
    letter-spacing: 5px;
}

.main-body {
    background-color:#AF7AC5;
    opacity: 0.7;
    height: 500px;
}

form {
    position: relative;
    top: 150px;
}

::placeholder{
    color:#CC0000;
    font-family: 'Poiret One', cursive;
}

#submit{
    background-color:#C57A90;
}

.display {
    text-align:center;
    color: #ffffff;
    position: relative;
    top: 150px;
}

.modal {
    background-color: #F0E05D;
}